<%=
  render("waste_exemptions_engine/shared/back",
    back_path: "#{private_beta_analytics_path}?start_date=#{@start_date}&end_date=#{@end_date}")
%>

<h1 class="govuk-heading-l">
  <%= t(".title") %>
</h1>

<h2 class="govuk-heading-m">
  <%= t(".start_date", date: @start_date.strftime("%Y-%m-%d")) unless @start_date.blank? %>
  &nbsp;&nbsp;&nbsp;
  <%= t(".end_date", date: @end_date.strftime("%Y-%m-%d")) unless @end_date.blank?  %>
</h2>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"><%= t(".header") %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"> <%= t(".header_page") %> </th>
      <th scope="col" class="govuk-table__header"> <%= t(".header_user_count") %> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% Analytics::PrivateBetaDropoffPagesService.run(start_date: @start_date, end_date: @end_date).each do |page, count| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= page %></th>
        <td class="govuk-table__cell"><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
