<% content_for :title, t(".heading") %>

<%= render("waste_exemptions_engine/shared/back", back_path: registration_path(reference: @registration.reference)) %>

<h1 class="govuk-heading-l"> <%= t(".heading") %> </h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
        @modify_expiry_date_form,
        url: modify_expiry_date_path,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <% expiry_date_errors = @modify_expiry_date_form.errors[:expiry_date] %>
			<div class="govuk-form-group <%= "govuk-form-group--error" if expiry_date_errors.any? %>">
			  <% if expiry_date_errors.any? %>
				  <span class="govuk-error-message" id="modify-expiry-date-form-expiry-date-field-error"><%= expiry_date_errors.join(". ") %></span>
				<% end %>

        <label for="modify-expiry-date-form-date-day-field" class="govuk-label govuk-label--s"><%= t(".date_label") %></label>

        <div class="govuk-date-input__item">
          <%= f.govuk_number_field :date_day, width: 2, label: { text: t(".date_day") } %>
        </div>
        <div class="govuk-date-input__item">
          <%= f.govuk_number_field :date_month, width: 2, label: { text: t(".date_month") } %>
        </div>
        <div class="govuk-date-input__item">
          <%= f.govuk_number_field :date_year, width: 4, label: { text: t(".date_year") } %>
        </div>
      </div>

      <%= f.govuk_text_area :reason_for_change,
        label: {
          text: t(".reason_label"),
          size: "s"
        },
        max_chars: 500,
        "aria-label": t(".reason_label")
      %>

      <br>
      <%= f.govuk_submit t(".submit") %>
    <% end %>
  </div>
</div>
