<h1 class="govuk-heading-l">
  <%= t(".title") %>
</h1>

<% other_analytics_link = link_to t(".private_beta_analytics_link_text"), private_beta_analytics_path %>
<%= render("shared/analytics_date_range", other_analytics_link:) %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"><%= t(".aggregate_data_table.header") %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Metric</th>
      <th scope="col" class="govuk-table__header">Value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <%= render "shared/analytics_table_rows" %>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t(".aggregate_data_table.total_journeys_abandoned") %></th>
      <td class="govuk-table__cell"><%= @analytics_data[:total_journeys_abandoned] %></td>
    </tr>
  </tbody>
</table>

