    <h2 class="govuk-heading-m">
      <%= t(".details_section.charges.heading") %>
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <%= t(".details_section.charges.headers.date") %>
          </th>
          <th class="govuk-table__header">
            <%= t(".details_section.charges.headers.breakdown") %>
          </th>
          <th class="govuk-table__header govuk-!-text-align-right">
            <%= t(".details_section.charges.headers.amount") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% presenter.sorted_orders.each do |order| %>
          <% charge_rows = [] %>
          <% if order.chargeable_exemption_codes_excluding_bucket.present? %>
            <% charge_rows << {
              breakdown: "#{order.chargeable_exemption_codes_excluding_bucket} x [#{order.site_count}]",
              amount: display_pence_as_pounds_sterling_and_pence(
                pence: order.charge_detail&.total_compliance_charge_amount_excluding_bucket
              ),
              breakdown_classes: "govuk-!-padding-top-2",
              amount_classes: "govuk-!-text-align-right govuk-!-padding-top-2"
            } %>
          <% end %>
          <% if order.no_charge_exemption_codes_excluding_bucket.present? %>
            <% charge_rows << {
              breakdown: "#{order.no_charge_exemption_codes_excluding_bucket} x [#{order.site_count}]",
              amount: display_pence_as_pounds_sterling_and_pence(pence: 0),
              breakdown_classes: charge_rows.empty? ? "govuk-!-padding-top-2" : nil,
              amount_classes: [
                "govuk-!-text-align-right",
                ("govuk-!-padding-top-2" if charge_rows.empty?)
              ].compact.join(" ")
            } %>
          <% end %>
          <% if order.bucket_exemption_codes.present? %>
            <% charge_rows << {
              breakdown: "#{t(".details_section.charges.bucket_exemptions_label.#{order.bucket.bucket_type}")} #{order.bucket_exemption_codes} x [#{order.site_count}]",
              amount: display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.bucket_charge_amount),
              breakdown_classes: nil,
              amount_classes: "govuk-!-text-align-right"
            } %>
          <% end %>
          <% charge_rows << {
            breakdown: t(".details_section.charges.registration_charge_label"),
            amount: display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.registration_charge_amount),
            breakdown_classes: nil,
            amount_classes: "govuk-!-text-align-right"
          } %>
          <% charge_rows << {
            breakdown: t(".details_section.charges.total_charge_label"),
            amount: display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.total_charge_amount),
            breakdown_classes: "govuk-table__cell govuk-!-padding-top-0",
            amount_classes: "govuk-table__cell govuk-!-text-align-right govuk-!-padding-top-0"
          } %>

          <% charge_rows.each_with_index do |row, index| %>
            <tr class="govuk-table__row">
              <% if index.zero? %>
                <td rowspan="<%= charge_rows.length %>" class="govuk-table__cell">
                  <%= format_date(order.created_at) %>
                </td>
              <% end %>
              <td class="<%= row[:breakdown_classes] %>">
                <%= row[:breakdown] %>
              </td>
              <td class="<%= row[:amount_classes] %>">
                <%= row[:amount] %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
