<h2 class="govuk-heading-m">
  <%= heading %>
</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">
        <%= date_header %>
      </th>
      <th class="govuk-table__header">
        <%= breakdown_header %>
      </th>
      <th class="govuk-table__header govuk-!-text-align-right">
        <%= amount_header %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% charge_breakdowns.each do |charge_breakdown| %>
      <% charge_breakdown.rows.each_with_index do |row, index| %>
        <tr class="govuk-table__row">
          <% if index.zero? %>
            <td rowspan="<%= charge_breakdown.rowspan %>" class="govuk-table__cell">
              <%= format_date(charge_breakdown.date) %>
            </td>
          <% end %>
          <td class="<%= row.breakdown_cell_classes %>">
            <%= row.label %>
          </td>
          <td class="<%= row.amount_cell_classes %>">
            <%= display_pence_as_pounds_sterling_and_pence(pence: row.amount_pence) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
