    <h2 class="govuk-heading-m">
      <%= t(".details_section.charges.heading") %>
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <%= t(".details_section.charges.headers.date") %>
          </th>
          <th class="govuk-table__header">
            <%= t(".details_section.charges.headers.breakdown") %>
          </th>
          <th class="govuk-table__header govuk-!-text-align-right">
            <%= t(".details_section.charges.headers.amount") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% presenter.sorted_orders.each do |order| %>
          <tr class="govuk-table__row">
            <td rowspan="4" class="govuk-table__cell">
              <%= format_date(order.created_at) %>
            </td>
            <td class="govuk-!-padding-top-2">
              <% if order.exemption_codes_excluding_bucket.present? %>
                <%= order.exemption_codes_excluding_bucket %>
              <% end %>
            </td>
            <td class="govuk-!-text-align-right govuk-!-padding-top-2">
              <% if order.exemption_codes_excluding_bucket.present? %>
                <%= display_pence_as_pounds_sterling_and_pence(pence: (order.charge_detail&.total_compliance_charge_amount_excluding_bucket)) %>
              <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td>
              <% if order.bucket.present? %>
                <%= t(".details_section.charges.bucket_exemptions_label.#{order.bucket.bucket_type}") %>
                <%= order.bucket_exemption_codes %>
              <% end %>
            </td>
            <td class="govuk-!-text-align-right">
              <% if order.bucket.present? %>
                <%= display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.bucket_charge_amount) %>
              <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td>
              <%= t(".details_section.charges.registration_charge_label") %>
            </td>
            <td class="govuk-!-text-align-right">
              <%= display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.registration_charge_amount) %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-padding-top-0">
              <%= t(".details_section.charges.total_charge_label") %>
            </td>
            <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-top-0">
              <%= display_pence_as_pounds_sterling_and_pence(pence: order.charge_detail&.total_charge_amount) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>