<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: back_path, back_link_label: t(".back_link_label")) %>
    <%= render("shared/message", message: flash[:message]) if flash[:message].present? %>
    <%= render("shared/error", error: flash[:error], details: flash[:error_details]) if flash[:error].present? %>

    <h1 class="govuk-heading-l">
      <%= resource_heading_for(@resource) %>
    </h1>
  </div>
</div>
<%= render("shared/resource_details", resource: @resource) %>
