<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <% if address.operator? %>
      <%= t(".heading.#{address.address_type}") %>
    <% else %>
      <%= t(".heading.#{address.address_type}") %>
    <% end %>
  </dt>
  <dd class="govuk-summary-list__value">
  <% if address.address_type == 'site' %>
    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t(".labels.grid_reference") %>
    </p>
    <% if address.grid_reference.present? %>
      <p class=govuk-body>
        <%= address.grid_reference %>
      </p>
    <% end %>
  <% end %>

    <% if address.postcode.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.address.#{address.address_type}") %>
      </p>
      <ul class="govuk-list">
        <% displayable_address(address).each do |line| %>
          <li>
            <%= line %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if address.mode.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.mode") %>
      </p>
      <p class="govuk-body">
        <%= address.mode %>
      </p>
    <% end %>

    <% if address.description.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.description") %>
      </p>
      <p class="govuk-body">
        <%= address.description %>
      </p>
    <% end %>

    <% if address.x.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.x") %>
      </p>
      <p class="govuk-body">
        <%= address.x %>
      </p>
    <% end %>

    <% if address.y.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.y") %>
      </p>
      <p class="govuk-body">
        <%= address.y %>
      </p>
    <% end %>

    <% if address.coordinate_system.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.coordinate_system") %>
      </p>
      <p class="govuk-body">
        <%= address.coordinate_system %>
      </p>
    <% end %>

    <% if address.blpu_state_code.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.blpu_state_code") %>
      </p>
      <p class="govuk-body">
        <%= address.blpu_state_code %>
      </p>
    <% end %>

    <% if address.postal_address_code.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.postal_address_code") %>
      </p>
      <p class="govuk-body">
        <%= address.postal_address_code %>
      </p>
    <% end %>

    <% if address.logical_status_code.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.logical_status_code") %>
      </p>
      <p class="govuk-body">
        <%= address.logical_status_code %>
      </p>
    <% end %>

    <% if address.source_data_type.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.source_data_type") %>
      </p>
      <p class="govuk-body">
        <%= address.source_data_type %>
      </p>
    <% end %>

    <% if address.country_iso.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.country_iso") %>
      </p>
      <p class="govuk-body">
        <%= address.country_iso %>
      </p>
    <% end %>

    <% if address.area.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.area") %>
      </p>
      <p class="govuk-body">
        <%= address.area %>
      </p>
    <% end %>
  </dd>
</div>
