<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <% if address.operator? %>
      <%= t(".heading.#{address.address_type}") %>
    <% else %>
      <%= t(".heading.#{address.address_type}") %>
    <% end %>
  </dt>
  <dd class="govuk-summary-list__value">
  <% if address.site? %>
    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t(".labels.grid_reference") %>
    </p>
    <% if address.grid_reference.present? %>
      <p class=govuk-body>
        <%= address.grid_reference %>
      </p>
    <% end %>
  <% end %>

    <% if address.postcode.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.address.#{address.address_type}") %>
      </p>
      <ul class="govuk-list">
        <% displayable_address(address).each do |line| %>
          <li>
            <%= line %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if address.mode.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.mode") %>
      </p>
      <p class="govuk-body">
        <%= t(".values.site_location_input_method.#{address.mode}") %>
      </p>
    <% end %>

    <% if address.description.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.description") %>
      </p>
      <p class="govuk-body">
        <%= address.description %>
      </p>
    <% end %>

    <% if address.site? && address.x.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.x") %>
      </p>
      <p class="govuk-body">
        <%= address.x %>
      </p>
    <% end %>

    <% if address.site? && address.y.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.y") %>
      </p>
      <p class="govuk-body">
        <%= address.y %>
      </p>
    <% end %>

    <% if address.coordinate_system.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.coordinate_system") %>
      </p>
      <p class="govuk-body">
        <%= address.coordinate_system %>
      </p>
    <% end %>

    <% if address.country_iso.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.country_iso") %>
      </p>
      <p class="govuk-body">
        <%= address.country_iso %>
      </p>
    <% end %>

    <% if address.area.present? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".labels.area") %>
      </p>
      <p class="govuk-body">
        <%= address.area %>
      </p>
    <% end %>

    <% if address.site? %>
      <% if defined?(on_a_farm) %>
        <p class="govuk-body govuk-!-font-weight-bold">
          <%= t(".labels.on_a_farm") %>
        </p>
        <p class="govuk-body">
          <%= t(".values.on_a_farm.#{on_a_farm}") %>
        </p>
      <% end %>

      <% if defined?(is_a_farmer) %>
        <p class="govuk-body govuk-!-font-weight-bold">
          <%= t(".labels.is_a_farmer") %>
        </p>
        <p class="govuk-body">
          <%= t(".values.is_a_farmer.#{is_a_farmer}") %>
        </p>
      <% end %>
    <% end %>
  </dd>
</div>
