<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row" id="<%= result.reference %>">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".labels.status") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="<%= "status-tag-#{status_tag_for(result)}" %>"><%= t(".statuses.#{status_tag_for(result)}") %></span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_for_business(result) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= result.operator_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".labels.reference") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= result.reference %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".labels.contact") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= result.contact_first_name %> <%= result.contact_last_name %>
        </dd>
      </div>
      <% if result.business_type == "partnership" %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".labels.partners") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% result.people.each do |partner| %>
                <li><%= partner.first_name %> <%= partner.last_name %></li>
              <% end %>
            </ul>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".labels.grid_reference") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= result.site_address.try(:grid_reference) %>
        </dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third registration-details">
    <h2 class="govuk-heading-m">
      <%= t(".labels.actions") %>
    </h2>

    <p class="govuk-body">
      <%= link_to view_link_for(result), id: "view_#{result.reference}" do %>
        <%= t(".actions.view.link_text") %>
        <span class="govuk-visually-hidden">
          <%= t(".actions.view.visually_hidden_text",
                name: result_name_for_visually_hidden_text(result)) %>
        </span>
      <% end %>
    </p>

    <% if display_edit_link_for?(result) %>
      <p class="govuk-body">
        <%= link_to edit_link_for(result), id: "edit_#{result.reference}" do %>
          <%= t(".actions.edit.link_text") %>
          <span class="govuk-visually-hidden">
           <%= t(".actions.edit.visually_hidden_text",
                 name: result_name_for_visually_hidden_text(result)) %>
         </span>
        <% end %>
      </p>
    <% end %>

    <% if display_resume_link_for?(result) %>
      <p class="govuk-body">
        <%= link_to resume_link_for(result), id: "resume_#{result.reference}" do %>
          <%= t(".actions.resume.link_text") %>
          <span class="govuk-visually-hidden">
           <%= t(".actions.resume.visually_hidden_text",
                 name: result_name_for_visually_hidden_text(result)) %>
         </span>
        <% end %>
      </p>
    <% end %>

    <% if display_already_renewed_text_for?(result) %>
      <p class="govuk-body">
        <%= t(".actions.renew.already_renewed") %>
      </p>

    <% elsif display_renew_links_for?(result) %>
      <p class="govuk-body">
        <%= link_to ad_privacy_policy_path(renew_registration: result.reference), id: "renew_#{result.reference}" do %>
          <%= t(".actions.renew.link_text") %>
          <span class="govuk-visually-hidden">
           <%= t(".actions.renew.visually_hidden_text",
                 name: result_name_for_visually_hidden_text(result)) %>
          </span>
        <% end %>
      </p>
      <p class="govuk-body">
        <%= link_to resend_renewal_email_path(reference: result.reference), id: "resend_renew_email_#{result.reference}" do %>
          <%= t(".actions.resend_renew_email.link_text") %>
          <span class="govuk-visually-hidden">
           <%= t(".actions.resend_renew_email.visually_hidden_text",
                 name: result_name_for_visually_hidden_text(result)) %>
          </span>
        <% end %>
      </p>

    <% elsif display_renew_window_closed_text_for?(result) %>
      <p class="govuk-body">
        <%= t(".actions.renew.renew_window_closed") %>
      </p>
    <% end %>
  </div>
</div>
