<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: back_path, back_link_label: t(".back_link_label")) %>
    <%= render("shared/message", message: flash[:message]) if flash[:message].present? %>
    <%= render("shared/error", error: flash[:error], details: flash[:error_details]) if flash[:error].present? %>

    <% if private_beta_participant?(@resource) %>
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-label="govuk-notification-banner-title">
        <div class="govuk-notification-banner__header"></div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading" id="private_beta_banner_text">
            <%= I18n.t("registrations.show.private_beta_banner") %>
          </h3>
        </div>
      </div>
    <% end %>

    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<%= render("shared/resource_details", resource: @resource) %>
