<% content_for :title, @deregistrations.heading %>

<%= render("waste_exemptions_engine/shared/back", back_path: registration_path(reference: @deregistrations.registration_reference)) %>

<h1 class="govuk-heading-l">
  <%= @deregistrations.heading %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
        @deregister_exemptions_form,
        url: @deregistrations.form_path,
            builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_collection_radio_buttons :state_transition,
          @deregister_exemptions_form.state_transition_options_for_select,
          :id,
          :name,
          legend: { text: t(".labels.state_transition"), class: "govuk-label" },
          hint: { text: t(".labels.state_transition_hint") } %>




      <%= f.govuk_text_area :message,
          label: { text: t(".labels.message") },
          hint: { text: t(".labels.message_hint") },
          max_chars: 500 %>

      <%= f.govuk_submit @deregistrations.submit_button %>
    <% end %>
  </div>
</div>
