<%= render("waste_exemptions_engine/shared/back", back_path: root_path) %>

<h1 class="govuk-heading-l">
  <%= t(".heading") %>
</h1>

<%= render("shared/error", error: flash[:error], details: flash[:error_details]) if flash[:error].present? %>

<% if @bands.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table" aria-label="<%= t(".heading") %>">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t(".band_list.th.sequence") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".band_list.th.initial_compliance_charge") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".band_list.th.additional_compliance_charge") %></th>
            <th class="govuk-table__header" colspan="2" scope="col"><%= t(".band_list.th.actions") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @bands.each do |band| %>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= band.sequence %>
              </td>
              <td class="govuk-table__cell">
                <%= display_pence_as_pounds_and_pence(pence: band.initial_compliance_charge.charge_amount) %>
              </td>
              <td class="govuk-table__cell">
                <%= display_pence_as_pounds_and_pence(pence: band.additional_compliance_charge.charge_amount) %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to t('.band_list.actions.delete.link_text'), destroy_confirmation_band_path(band) %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to t('.band_list.actions.edit.link_text'), edit_band_path(band) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table" aria-label="<%= t(".heading") %>">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t(".other_charges.th.name") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".other_charges.th.initial_compliance_charge") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".other_charges.th.other_charges") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".other_charges.th.actions") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% if @registration_charge.present? %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= @registration_charge.name %>
            </td>
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">
              <%= display_pence_as_pounds_and_pence(pence: @registration_charge.charge_amount) %>
            </td>
            <td class="govuk-table__cell">
              <%= link_to t('.other_charges.actions.edit.link_text'), edit_charge_path(@registration_charge) %>
            </td>
          </tr>
          <% end %>
          <% @buckets.each do |bucket| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= bucket.name %>
              </td>
              <td class="govuk-table__cell">
                <%= display_pence_as_pounds_and_pence(pence: bucket.initial_compliance_charge.charge_amount) %>
              </td>
              <td class="govuk-table__cell">
              </td>
              <td class="govuk-table__cell">
                <%= link_to t('.other_charges.actions.edit.link_text'), edit_bucket_path(bucket) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



<p class="govuk-body">
  <%= link_to t(".new_band_link_text"), new_band_path %>
</p>
