<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: bands_path) %>

    <%= form_for @band,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <%= f.govuk_select :sequence,
          options_for_select([0, 1, 2, 3, 4], params[:sequence] || @band.sequence),
          label: { text: t(".fields.sequence") },
          options: { include_blank: t(".fields.no_band") } %>

      <%= f.govuk_text_field :name,
          width: "one-half",
          label: { text: t(".fields.name") } %>

      <%= f.fields_for :initial_compliance_charge do |f| %>
        <%= render("shared/charge", form: @band.initial_compliance_charge, field: "initial_compliance_charge", f: f, prefix: "band-initial-compliance-charge") %>
      <% end %>

      <%= f.fields_for :additional_compliance_charge do |f| %>
        <%= render("shared/charge", form: @band.additional_compliance_charge, field: "additional_compliance_charge", f: f, prefix: "band-additional-compliance-charge") %>
      <% end %>

      <%= f.govuk_submit t(".submit_button") %>
    <% end %>
  </div>
</div>
