<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= version[:date].strftime("%d %B %Y") %>
  </td>
  <td class="govuk-table__cell">
    <% version[:changed_to].each do |changeset| %>
      <div class="govuk-!-padding-bottom-2">
        <strong><%= t(".labels.#{changeset.keys.first}") %>:</strong><br/>
        <%= changeset.values.first %><br/>
      </div>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <% version[:changed_from].each do |changeset| %>
      <div class="govuk-!-padding-bottom-2">
        <strong><%= t(".labels.#{changeset.keys.first}") %>:</strong><br/>
        <%= changeset.values.first %><br/>
      </div>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= version[:reason_for_change] %>
  </td>
  <td class="govuk-table__cell">
    <%= version[:changed_by] %>
  </td>
</tr>