<% first = true%>
<% version[:changed].each do |change_row| %>
  <tr class="govuk-table__row">
    <td valign="top">
      <% if first %>
        <div class="govuk-!-padding-2">
          <%= version[:date].strftime("%d %B %Y") %>
        </div>
      <% end %>
    </td>
    <td valign="top">
      <div class="govuk-!-padding-2">
        <strong><%= t(".labels.#{change_row[1]}") %>:</strong><br/>
        <%= change_row[3].to_s.gsub("\n", "<br/>").html_safe %>
      </div>
    </td>
    <td valign="top">
      <div class="govuk-!-padding-2">
        <strong><%= t(".labels.#{change_row[1]}") %>:</strong><br/>
        <%= change_row[2].to_s.gsub("\n", "<br/>").html_safe %>
      </div>
    </td>
    <td valign="top">
      <% if first %>
        <div class="govuk-!-padding-2">
          <%= version[:reason_for_change] %>
        </div>
      <% end %>
    </td>
    <td valign="top">
      <% if first %>
        <div class="govuk-!-padding-2">
          <%= version[:changed_by] %>
        </div>
      <% end %>
    </td>
  </tr>
  <% first = false%>
<% end %>
<tr>
  <td class="govuk-table__cell" colspan="5"></td>
</tr>