<div class="govuk-grid-row">
  
  <%= render("waste_exemptions_engine/shared/back", back_path: registration_path(reference: @resource.reference)) %>
  
  <%= form_for @add_payment_form,
        url: registration_add_payment_path(registration_reference: @resource.reference),
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l">
        <%= t(".heading", registration_reference: @resource.reference) %>
      </h1>
    </div>

    <div class="govuk-grid-column-one-half">
    
      <% payment_type_errors = @add_payment_form.errors[:payment_type] %>
      <div class="govuk-form-group <%= "govuk-form-group--error" if payment_type_errors.any? %>">
        <fieldset id="search-filters" class="govuk-fieldset">
          <% if payment_type_errors.any? %>
            <span class="govuk-error-message" id="add-payment-form-payment-type-field-error"><%= payment_type_errors.join(". ") %></span>
          <% end %>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-label"><%= t('.fields.payment_type') %></p>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= radio_button_tag 'add_payment_form[payment_type]', :missing_card_payment,
                preselect_missing_card_payment_radio_button?, class: "govuk-radios__input" %>
              <%= label_tag :payment_type_govpay_payment,
                t('.fields.payment_type_labels.govpay_payment'),
                class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= radio_button_tag 'add_payment_form[payment_type]', :bank_transfer,
                preselect_bank_transfer_radio_button?, class: "govuk-radios__input" %>
              <%= label_tag :payment_type_bank_transfer,
                t('.fields.payment_type_labels.bank_transfer'),
                class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= radio_button_tag 'add_payment_form[payment_type]', :other_payment,
                preselect_other_payment_radio_button?, class: "govuk-radios__input" %>
              <%= label_tag :payment_type_other,
                t('.fields.payment_type_labels.other'),
                class: "govuk-label govuk-radios__label" %>
            </div>
          </div>
        </fieldset>
      </div>

      <p>
        <%= f.govuk_text_field :payment_amount,
            label: { text: t(".fields.payment_amount") },
            prefix_text: "£" %>
      </p>

      <p>
        <% payment_date_errors = @add_payment_form.errors[:payment_date] %>
        <div class="govuk-form-group <%= "govuk-form-group--error" if payment_date_errors.any? %>">
          <p class="govuk-label"> <%= t(".fields.payment_date") %> </p>

          <% if payment_date_errors.any? %>
            <span class="govuk-error-message" id="add-payment-form-payment-date-field-error"><%= payment_date_errors.join(". ") %></span>
          <% end %>

          <div class="govuk-date-input__item">
            <%= f.govuk_number_field :date_day, width: 2, label: { text: t(".fields.payment_date_day") } %>
          </div>
          <div class="govuk-date-input__item">
            <%= f.govuk_number_field :date_month, width: 2, label: { text: t(".fields.payment_date_month") } %>
          </div>
          <div class="govuk-date-input__item">
            <%= f.govuk_number_field :date_year, width: 4, label: { text: t(".fields.payment_date_year") } %>
          </div>
        </div>
      </p>

      <p>
        <%= f.govuk_text_field :payment_reference,
            label: { text: t(".fields.payment_reference") } %>
      </p>

      <p>
        <%= f.govuk_text_area :comments,
            label: { text: t(".fields.comments") },
            hint: { text: t(".fields.comments_hint") },
            max_chars: 500 %>
      </p>

      <%= f.govuk_submit t(".submit_button") %>
    </div>
  <% end %>
</div>