<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
    <p class="govuk-body">
      <%= t(".paragraph_1") %>
      <%= t(".searchable_attributes").to_sentence %>
    </p>
    <%= render partial: "form" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "actions" %>
  </div>
</div>

<% if flash[:message].present? || flash[:error].present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render("shared/message", message: flash[:message]) if flash[:message].present? %>
      <%= render("shared/error", error: flash[:error], details: flash[:error_details]) if flash[:error].present? %>
    </div>
  </div>
<% end %>

<% if @results.present? %>
  <div id="search-results">
    <% @results.each do |result| %>
      <%= render("shared/search_result", result: result) %>
    <% end %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav role="navigation" class="pagination govuk-body" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @results, entry_name: "item" %>
        </div>
        <%= paginate @results %>
      </nav>
    </div>
  </div>
<% elsif @term.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body"><%= t(".no_results") %></p>
    </div>
  </div>
<% end %>
