<%= render("waste_exemptions_engine/shared/back", back_path: root_path) %>

<h1 class="govuk-heading-l">
  <%= t(".heading") %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @participants.present? %>
      <table class="govuk-table" aria-label="<%= t(".heading") %>">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t(".participant_list.th.reg_number") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".participant_list.th.email") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".participant_list.th.registration") %></th>
            <th class="govuk-table__header" scope="col"><%= t(".participant_list.th.actions") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @participants.each do |participant| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= link_to participant.reg_number, registration_path(participant.reg_number, back_to: '/beta_participants') %>
              </td>
              <td class="govuk-table__cell">
                <%= participant.email %>
              </td>
              <td class="govuk-table__cell">
                <% if participant.registration && participant.registration_type == "WasteExemptionsEngine::Registration" %>
                  <%= participant.registration.reference %>
                <% elsif participant.registration && participant.registration.location.present? %>
                  <%= t(".participant_list.actions.in_progress_registration", registration_id: participant.registration.id) %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if participant.registration && participant.registration_type == "WasteExemptionsEngine::Registration" %>
                  <%= link_to t(".participant_list.actions.view_registration.link_text"), registration_path(participant.registration.reference, back_to: '/beta_participants') %>
                <% elsif participant.registration && participant.registration.location.present? %>
                  <%= link_to t(".participant_list.actions.view_registration.link_text"), new_registration_path(participant.registration.id, back_to: '/beta_participants') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="govuk-body"><%= t(".participant_list.no_results") %></p>
    <% end %>
  </div>
</div>
