<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: beta_participants_path) %>

    <%= form_for @participant,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <%= f.govuk_text_field :reg_number,
          width: "one-half",
          label: { text: t(".fields.reg_number") } %>

      <%= f.govuk_text_field :email,
          width: "one-half",
          label: { text: t(".fields.email") } %>

      <%= f.govuk_submit t(".submit_button") %>
    <% end %>
  </div>
</div>
