<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: registration_payment_details_path(reference: @resource.reference)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <%= t(".date") %>
          </th>
          <th class="govuk-table__header">
            <%= t(".reference") %>
          </th>
          <th class="govuk-table__header">
            <%= t(".payment_type") %>
          </th>
          <th class="govuk-table__header govuk-table__header--numeric">
            <%= t(".amount") %>
          </th>
          <th class="govuk-table__header">
            <%= t(".action") %>
          </th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @payments.each do |payment| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= payment.created_at.to_formatted_s(:day_month_year_slashes) %>
            </td>
            <td class="govuk-table__cell">
              <%= payment.order_id %>
            </td>
            <td class="govuk-table__cell">
              <%= t(".payment_types.#{payment.payment_type}") %>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £<%= display_pence_as_pounds_and_cents(payment.payment_amount, hide_pence_if_zero: false) %>
            </td>
            <td class="govuk-table__cell">
              <%= link_to new_registration_record_refund_form_path(reference: @resource.reference, payment_id: payment.id) do %>
                <%= t(".refund_payment") %>
                <span class="govuk-visually-hidden">
                  <%= "ALT" %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
