<% content_for :title, t(".title.#{@charge_adjustment_form.adjustment_type}", reference: @resource.reference) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_exemptions_engine/shared/back",
              back_path: new_registration_adjustment_type_path(registration_reference: @resource.reference)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading.#{@charge_adjustment_form.adjustment_type}", reference: @resource.reference) %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= t(".balance_label") %>
      <span class="govuk-!-font-weight-regular govuk-!-padding-left-3"><%= @presenter.balance %></span>
    </h2>

    <%= form_for @charge_adjustment_form,
                 url: registration_charge_adjustments_path(registration_reference: @resource.reference),
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_text_field :amount,
          width: 10,
          prefix_text: "£",
          label: { text: t(".amount_label.#{@charge_adjustment_form.adjustment_type}"), size: "m" },
          hint: { text: t(".amount_hint") } %>

      <%= f.govuk_text_area :reason,
          rows: 5,
          label: { text: t(".reason_label"), size: "m" } %>

      <%= f.hidden_field :adjustment_type %>
      <%= f.govuk_submit t(".submit") %>
    <% end %>
  </div>
</div>
